.boardcontainer {
    height: 100%;
    width: 100%;
    margin: 1em;
    display:flex;
    font-size:40px;
}
.headline {
    background-color: rgb(117, 117, 117);
    font-size: 30px;
    text-align: center;
}

.grid-container {
    background-color: rgb(117, 117, 117);
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    font-size: 20px;
    margin-bottom: 10px; !important;
    text-align: center;
}

.board {
    border-style: inset;
    border-width: 0.05em;
    border-spacing: 0;
    padding: 0.05em;
    margin:auto;
    width: auto;
}

.clear {
    clear:both;
}

.field {
    display: inline-block;
    float:left;
    border-style: solid;
    border-width: 0.05em;
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    margin:auto;
    position: relative;
}

.highlighted {
     border-color: red !important;
}

.dim-black{
    background-color: rgb(117, 117, 117);
    border-color: rgb(117, 117, 117);
}

.dim-white{
    background-color: rgb(230,230,230);
    border-color: rgb(230,230,230);
}


.piece {
    height: 80%;
    width: 80%;
    vertical-align: bottom;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.king-black{
    background: url(../images/crown_white.png) no-repeat center;
}

.king-white{
    background: url(../images/crown_black.png) no-repeat center;
}

div.white{
    background-color: #ffffff;
}

div.black{
    background-color: #000000;
}

p.white{
    color: #ffffff;
}

p.black{
    color: #000000;
}

button.white{
    background-color: #ffffff;
}

button.black{
    background-color: #000000;
}

#turn-indicator{
    background-color: rgb(117, 117, 117);
    height: 100%;
    width: 100%;
    margin: 1em;
    text-align: center;
    font-size:40px;
    font-family: "Verdana",Geneva, sans-serif;
    font-weight: bold;
}

.colorButton{
    height: 60px;
    width: 60px;
}
.submitButton{
    background-color: lightskyblue;
    height: 50px;
    weight: 200px;
}

.pull-right {
    margin-right: 5%;
    float: right;
}